/* Photo */
 img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 130px;
  float: right;
}

/* Whole document */
body {
    font-family: "Droid Sans"; 
    max-width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 8px 8px;
}

/* Link */
a {
    text-decoration: none;
    color: #0000FF;
}

/* Title */
h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom:15px;
    margin-top:5px;
}

/* Sections */
h2 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 7px;
}

/* Horizontal line */
hr {
    color: #000000;
}

/* Content */
dt {
    float: left;
    clear: left;
    width: 17%;
    font-weight: bold;
}

/* Info content */
dd {
    margin-left: 17%;
    margin-bottom: 5px;
}

/* Line break */
p {
    margin-top:0;
    margin-bottom:5px;
}

/* Footer */ 
@page {
  @bottom-center {
    font-size: 0.5em;
    content: 'I hereby authorize you to use and process my personal details contained in this document.';
  }
}
